/* General Styles */
body {
    background-color: whitesmoke;
    color: rgb(13, 13, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    padding-inline: 5%;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

/* Content Container */
.content {
    max-width: 1000px;
    margin: auto;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
}

.top-bar .title {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    flex: 1;
}

.top-bar .youtube-link a {
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    white-space: nowrap;
}

.top-bar .youtube-link a:hover{
    color: orange;
}

@media (max-width: 768px) {
    .top-bar {
        justify-content: center;
    }

    .top-bar .title, .top-bar .youtube-link a {
        flex: none;
        margin: 5px 0;
    }

    .top-bar .youtube-link a {
        margin-left: 0;
    }
}

/* Intro Section */
.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.intro img {
    width: 100%;
    max-width: 500px;
    height: 350px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    margin-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.text-content {
    flex: 1;
}

.text-content h1 {
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    text-align: left;
}

.text-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    padding-right: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-content h1, .text-content p {
        text-align: center;
        padding: 0;
    }
}

/* Recipe Section */
.recipe-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.recipe-section h1 {
    font-size: 32px;
    margin-top: 0;
}

.ingredients-section, .instructions-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.ingredients-section h3, .instructions-section h3 {
    font-size: 22px;
    margin-top: 0;
}

ul, ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
}

ul li, ol li {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .top-bar {
    background-color: white;
}

.dark-mode .top-bar .title{
    color: #000000;
}

.dark-mode a {
    color: #000000;
}

.dark-mode .youtube-link a {
    color: #000000;
    border-color: #000000;
}

.dark-mode a:hover {
    color: orange;
  }
  
/* Dark Mode Recipe Section */
.dark-mode .recipe-section {
    background-color: #191919;
}

.dark-mode .ingredients-section, .dark-mode .instructions-section {
    background-color: #191919;
}
