/* General Styles */
body {
  background-color: whitesmoke;
  color: rgb(16, 16, 16);
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 20px 60px;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, rgb(255, 255, 182), rgb(255, 239, 62), orange);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 35px;
}

.top-bar .social-links a {
  margin: 0 10px;
  color: rgb(16, 16, 16);
  text-decoration: none;
  font-size: 16px;
}

.top-bar .toggle-switch label {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #121212;
  border-radius: 5px;
  color: rgb(16, 16, 16);
}

.top-bar .toggle-switch input {
  display: none;
}

#theme-toggle:checked ~ .dark-mode {
  background-color: #121212;
  color: white;
}

/* Heading and Paragraphs */
h1 {
  font-size: 69px;
  margin-top: 20px;
  padding-top: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0;
}

/* Top Recipes Section */
h2 {
  font-size: 32px;
  margin-top: 40px;
}

table {
  width: 100%;
  margin-top: 20px;
}

table td {
  text-align: center;
}

table img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 0;
  font-size: 20px;
}

/* Links */
a {
  color: rgb(13, 13, 13);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: orange;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 40px 0;
}
